
# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# 環境變數
.env
.env.local
.env.*.local

# 日誌檔案
logs/
*.log
pids/
*.pid
*.seed

# 測試
coverage/
*.lcov

# 生成的文件
dist/
build/
public/

# IDE / 編輯器的設定檔
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# 操作系統檔案
.DS_Store
Thumbs.db

# 自定義檔案
*.tgz
*.zip
